/* css 파일은 style 태그 내부에 작성한다 생각하고 코딩하면 된다 */

/* h1 태그 글자색 red */
h1{color: red;}

code{
    background-color: lightpink; 
    font-weight: bold;
    display: block; 
}

/* ---- 기본 속성 선택자 ---- */

/* div 태그 중 name 속성 값이 "name-1" 인 요소에 배경색 green */
div[name = "name-1"]{background-color: green;}

/* div 태그 중 name 속성의 값이 "name-2"인 요소만 배경색 yellow */
div[name = "name-2"]{background-color: yellow;}

/* 모든 div 요소의 글자색을 gray로 변경 */
div{color:gray;}

/* p 태그 중 data 속성의 값이 "data-1"인 요소만 배경색 red */
p[data = "data-1"]{background-color: red;}

/* 내용이 p3, p4인 요소를 선택해 배경색 blue */
p[data = "data-2"]{background-color: blue;}

/* 모든 요소 중 name 속성 값이 "name-1"인 요소 글자 크기 30px */
/* == div1, div2, p2, p3 선택 */
/* *[name= "name-1"]{font-size:  30px;} */

/* 모든 요소 선택자 생략 가능 */
/* name 속성 값이 "name-1"인 요소 모두 선택 */
[name= "name-1"]{font-size:  30px;}

/* 그럼 id 속성값은 왜배운거지 어쩌피 모든거 저걸로 해결하면ㄷ  ㅚ잖아 */

/* ---- 자식 선택자 (>) ---- */
#parent1{background-color: skyblue;}
#parent1 > li{background-color: gold;}

/* 선택자를 연이어 작성할 수 있다 */
/* 자식2, 자식4 의 글자색을 red */
#parent1 > li > span{color: red;}
#parent1 span{font-size: 30px;}

/* ---- 후손 선택자 ( ) ---- */

/* 아이디가 parent2인 요소의 후손 중 모든 p태그 선택 */
#parent2 p{background-color: lightcoral;}
#parent2 > div > p{color: blue;}
